@font-face {
    font-family: "iconfont";

    src:
        /* custom */
        url('/assets/font/icomoon.woff') format('woff'),
        url('/assets/font/icomoon.ttf') format("truetype"),
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 自定义 */
.icon-tool-fill:before {
    content: "\f0001";
}

.icon-setting-fill:before {
  content: "\f0002";
}
